<%- include("partials/header"); -%>

<!-- Product Category Title -->
<h3 class="my-3"><%= categoryTitle %></h3>
<!-- To Compute for new Product ID -->
<% var iter = 1; %> <% Object.keys(data).forEach((sub_category, index) => {
const subCategoryProducts = data[sub_category]; %>
<div class="row row-cols-auto py-4 align-items-center">
	<div class="col">
		<!-- Product Sub Category -->
		<h4
			type="button"
			data-bs-toggle="modal"
			data-bs-target="#subCategory<%=index%>">
			<%= sub_category %>
		</h4>
		<div class="modal" id="subCategory<%=index%>" tabindex="-1">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<form
						class="productForm"
						action="/inventory/category/<%=categoryID%>/subcategory/crud"
						method="POST">
						<div class="modal-header">
							<h5 class="modal-title">Edit Sub Category</h5>
							<button
								type="button"
								class="btn-close"
								data-bs-dismiss="modal"
								aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<div class="form-floating mb-3">
								<input
									type="hidden"
									name="oldSubCategoryName"
									value="<%=sub_category%>" />
								<input
									type="text"
									name="newSubCategoryName"
									class="form-control"
									id="floatingInputValue"
									placeholder="Sub Category"
									value="<%=sub_category%>"
									required />
								<label for="floatingInputValue">Sub Category</label>
							</div>
						</div>
						<div class="modal-footer">
							<button
								type="submit"
								class="btn btn-secondary"
								name="crud"
								value="del">
								Delete
							</button>
							<button
								type="submit"
								class="btn btn-primary"
								name="crud"
								value="update">
								Update
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- TODO: Update Product ID Logic -->
	<!-- *COMPLETED -->
	<div class="col">
		<!-- Button trigger modal -->
		<button
			type="button"
			class="btn btn-primary"
			data-bs-toggle="modal"
			data-bs-target="#productModal<%=iter%>">
			<i class="fa-regular fa-square-plus"></i>
		</button>

		<div class="modal" id="productModal<%=iter%>" tabindex="-1">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<form
						class="productForm"
						action="/inventory/category/<%=categoryID%>/product/<%=lastProductID?lastProductID:(iter*100) + subCategoryProducts.length + 1 + categoryID%>/crud"
						method="POST">
						<input
							type="hidden"
							name="sub_category"
							value="<%=sub_category%>" />
						<div class="modal-header">
							<h5 class="modal-title">Add Product to <%=sub_category%></h5>
							<button
								type="button"
								class="btn-close"
								data-bs-dismiss="modal"
								aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<div class="form-floating mb-3">
								<input
									type="text"
									name="name"
									class="form-control"
									id="floatingInputValue"
									placeholder="Name"
									required />
								<label for="floatingInputValue">Name</label>
							</div>
							<div class="row g-2">
								<div class="form-floating mb-3 col-6">
									<input
										type="text"
										class="form-control"
										id="floatingInputDisabled"
										placeholder="Product ID"
										value="<%= lastProductID?lastProductID:(iter*100) + subCategoryProducts.length + 1 + categoryID %>"
										disabled />
									<label for="floatingInputDisabled">Product ID</label>
								</div>
								<div class="form-floating mb-3 col-6">
									<input
										type="text"
										name="price.CP"
										class="form-control"
										id="floatingCP"
										placeholder="₹ Cost Price"
										required />
									<label for="floatingSP">₹ Cost Price</label>
								</div>
							</div>
							<div class="row g-2">
								<div class="form-floating mb-3 col-6">
									<input
										type="text"
										name="price.MRP"
										class="form-control"
										id="floatingMRP"
										placeholder="₹ Marked Retail Price"
										required />
									<label for="floatingMRP">₹ Marked Retail Price</label>
								</div>
								<div class="form-floating mb-3 col-6">
									<input
										type="text"
										name="price.SP"
										class="form-control"
										id="floatingSP"
										placeholder="₹ Selling Price"
										required />
									<label for="floatingSP">₹ Selling Price</label>
								</div>
							</div>
							<div class="row g-2">
								<div class="form-floating mb-3 col-6">
									<input
										type="text"
										name="quantity"
										class="form-control"
										id="floatingQty"
										placeholder="Stock Quantity"
										required />
									<label for="floatingQty">Stock Quantity</label>
								</div>
								<div class="form-floating mb-3 col-6">
									<input
										type="text"
										name="units"
										class="form-control"
										id="floatingUnits"
										placeholder="Units"
										required />
									<label for="floatingUnits">Units</label>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<!-- TODO: On Cancel, Clear Form -->
							<!-- *Completed -->
							<button
								type="button"
								class="btn btn-secondary"
								data-bs-dismiss="modal">
								Close
							</button>
							<!-- TODO: Submit to DB and Redirect -->
							<!-- *COMPLETED -->
							<button
								type="submit"
								class="btn btn-primary"
								name="crud"
								value="create">
								Submit
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Product Listing as per Sub Category -->
<table class="table table-hover">
	<!-- Table Column Headers -->
	<thead>
		<tr>
			<th scope="col" class="col-1">Product ID</th>
			<th scope="col" class="col-2">Product Name</th>
			<th scope="col" class="col-2 text-end">MRP</th>
			<th scope="col" class="col-2 text-end">SP</th>
			<th scope="col" class="col-2 text-end">CP</th>
			<th scope="col" class="col-1 text-end">Stock Qty</th>
			<th scope="col" class="col-2 text-end">Units</th>
		</tr>
	</thead>
	<tbody>
		<!-- New Product ID Computation -->
		<% var lastProductID = '' %> <% subCategoryProducts.forEach((product) => {
		%>
		<!-- Exisitng Product Listing Row -->
		<tr
			type="button"
			data-bs-toggle="modal"
			data-bs-target="#editProduct<%=product.id%>">
			<th scope="row"><%= product.id %></th>
			<td name="name" data-prod="<%= product.name %>"><%= product.name %></td>
			<td class="text-end" name="price.MRP" data-prod="<%= product.name %>">
				<%= product.price.MRP?.toLocaleString("en-IN", {style:'currency',
				currency:'INR'}) %>
			</td>
			<td class="text-end" name="price.SP" data-prod="<%= product.name %>">
				<%= product.price.SP?.toLocaleString("en-IN", {style:'currency',
				currency:'INR'}) %>
			</td>
			<td class="text-end" name="price.CP" data-prod="<%= product.name %>">
				<%= product.price.CP?.toLocaleString("en-IN", {style:'currency',
				currency:'INR'}) %>
			</td>
			<td class="text-end" name="quantity" data-prod="<%= product.name %>">
				<%= product.quantity %>
			</td>
			<td class="text-end" name="units" data-prod="<%= product.name %>">
				<%= product.units %>
			</td>
		</tr>

		<!-- TODO: Show Product Edit Modal -->
		<div class="modal" id="editProduct<%=product.id%>" tabindex="-1">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<form
						class="productForm"
						action="/inventory/category/<%=categoryID%>/product/<%=product.id%>/crud"
						method="POST">
						<div class="modal-header">
							<h5 class="modal-title">Update inventory with ease</h5>
							<button
								type="button"
								class="btn-close"
								data-bs-dismiss="modal"
								aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<div class="form-floating mb-3">
								<input
									type="text"
									name="name"
									class="form-control"
									id="floatingInputValue"
									placeholder="Name"
									value="<%=product.name%>"
									required />
								<label for="floatingInputValue">Name</label>
							</div>
							<div class="row g-2">
								<div class="form-floating mb-3 col-6">
									<input
										type="text"
										class="form-control"
										id="floatingInputDisabled"
										placeholder="Product ID"
										value="<%=product.id%>"
										disabled />
									<label for="floatingInputDisabled">Product ID</label>
								</div>
								<div class="form-floating mb-3 col-6">
									<input
										type="text"
										name="price.CP"
										class="form-control"
										id="floatingCP"
										placeholder="₹ Cost Price"
										value="<%=product.price.CP%>"
										required />
									<label for="floatingSP">₹ Cost Price</label>
								</div>
							</div>
							<div class="row g-2">
								<div class="form-floating mb-3 col-6">
									<input
										type="text"
										name="price.MRP"
										class="form-control"
										id="floatingMRP"
										placeholder="₹ Marked Retail Price"
										value="<%=product.price.MRP%>"
										required />
									<label for="floatingMRP">₹ Marked Retail Price</label>
								</div>
								<div class="form-floating mb-3 col-6">
									<input
										type="text"
										name="price.SP"
										class="form-control"
										id="floatingSP"
										placeholder="₹ Selling Price"
										value="<%=product.price.SP%>"
										required />
									<label for="floatingSP">₹ Selling Price</label>
								</div>
							</div>
							<div class="row g-2">
								<div class="form-floating mb-3 col-6">
									<input
										type="text"
										name="quantity"
										class="form-control"
										id="floatingQty"
										placeholder="Stock Quantity"
										value="<%=product.quantity%>"
										required />
									<label for="floatingQty">Stock Quantity</label>
								</div>
								<div class="form-floating mb-3 col-6">
									<input
										type="text"
										name="units"
										class="form-control"
										id="floatingUnits"
										placeholder="Units"
										value="<%=product.units%>"
										required />
									<label for="floatingUnits">Units</label>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button
								type="submit"
								class="btn btn-danger"
								name="crud"
								value="del">
								Delete
							</button>
							<button
								type="submit"
								class="btn btn-primary"
								name="crud"
								value="update">
								Submit
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<!-- Updating New Product ID Computation -->
		<% lastProductID = product.id + 1; %> <% }) %>
	</tbody>
</table>
<% iter++; %> <% }) %>
<!-- TODO: Decrease the Form's Input Width for Sub Category -->
<!-- *COMPLETED -->
<!-- Form to Add New Sub Category -->
<form
	class="col-3 py-3"
	action="/inventory/category/<%=categoryID%>/subcategory/crud"
	method="post">
	<input
		type="text"
		class="form-control"
		name="newSubCategoryName"
		placeholder="Add Sub Category" />
	<input
		type="submit"
		class="hiddenSubmitBtn"
		name="crud"
		value="create"
		onclick="javascript:void(0)" />
</form>

<table class="table table-hover mb-3">
	<!-- Table Column Headers -->
	<thead>
		<tr>
			<th scope="col" class="col-1">Product ID</th>
			<th scope="col" class="col-2">Product Name</th>
			<th scope="col" class="text-end col-2">MRP</th>
			<th scope="col" class="text-end col-2">SP</th>
			<th scope="col" class="text-end col-2">CP</th>
			<th scope="col" class="text-center col-1">Stock Qty</th>
			<th scope="col" class="text-end col-2">Units</th>
		</tr>
	</thead>
</table>

<!-- Edit Product & Sub Category  -->
<script>
	// Get all the modal elements
	const modals = document.querySelectorAll(".modal");

	// Loop through each modal and add an event listener to the "hide.bs.modal" event
	modals.forEach((modal) => {
		modal.addEventListener("hide.bs.modal", () => {
			// Get the corresponding form element
			const form = modal.querySelector("form");

			// Reset the form elements
			form.reset();
		});
	});
</script>
<%- include("partials/footer"); -%>
