<%- include("partials/header"); -%>

<h3 class="my-3">Unpaid Orders? Not on Our Watch!</h3>
<table class="table table-hover table-striped">
	<thead>
		<tr>
			<th scope="col">Flat#</th>
			<th scope="col" class="text-center">Total Dues</th>
			<th scope="col" class="text-end">Total Due Amount</th>
		</tr>
	</thead>
	<tbody>
		<% dueFlats.forEach((dueFlat, index)=>{%>
		<tr style="cursor: pointer" onclick="showModal('<%=index%>')">
			<td><%=dueFlat._id%></td>
			<td class="text-center"><%=dueFlat.totalDues%></td>
			<td class="text-end">
				<%=dueFlat.totalDueAmount?.toLocaleString("en-IN",{style:'currency',
				currency:'INR'})%>
			</td>
		</tr>
		<%});%>
	</tbody>
</table>
<% dueFlats.forEach((dueFlat, index)=>{%>
<div class="modal fade" id="dueInvoicesModal<%=index%>" tabindex="-1">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5"><%=dueFlat._id%>'s total dues</h1>
				<button
					type="button"
					class="btn-close"
					data-bs-dismiss="modal"
					aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<% dueFlat.dueInvoices.forEach((invoice, index) => { %>
				<div class="modal-content my-3">
					<div class="modal-header">
						<h1 class="modal-title fs-5"><%=invoice.invoiceId%></h1>
					</div>
					<div class="modal-body">
						<div class="d-flex justify-content-between align-items-center">
							<span class="col-auto">Mobile#: <%=invoice.contact%></span>
							<%const date = new Date(invoice.invoiceDate); const timeString =
							date.toLocaleTimeString('en-US', { hour12: true, hour: '2-digit',
							minute: '2-digit' }); const dateString =
							date.toLocaleDateString('en-US', { month: 'long', day: '2-digit',
							year: 'numeric' }); %>
							<span class="col-auto"><%=timeString%></span>
						</div>
						<div class="d-flex justify-content-between align-items-center">
							<span class="col-auto"
								><%= invoice.person == 1 ? 'Sir' : invoice.person == 2 ? 'Madam'
								: invoice.person == 3 ? 'Children' : invoice.person == 4 ?
								'Driver' : invoice.person == 5 ? 'Maid' : invoice.person == 6 ?
								'Security' : invoice.person == 7 ? 'Shop Delivery' : null
								%></span
							>
							<span class="col-auto"><%=dateString%></span>
						</div>
						<table class="table table-hover my-3">
							<thead>
								<tr>
									<th scope="col">Name</th>
									<th scope="col" class="text-center">Quantity</th>
									<th scope="col" class="text-end">Each</th>
									<th scope="col" class="text-end">Sub Total</th>
								</tr>
							</thead>
							<tbody id="tbody-modal<%=index%>">
								<% invoice.invoiceItems.forEach(item=>{ %>
								<tr>
									<td><%=item.name%></td>
									<td class="text-center"><%=item.qty%></td>
									<td class="text-end">
										<%=item.price.SP?.toLocaleString("en-IN", {style:"currency",
										currency: "INR"})%>
									</td>
									<td class="text-end">
										<%=item.itemSPSubTotal?.toLocaleString("en-IN",
										{style:"currency", currency: "INR"})%>
									</td>
								</tr>
								<% }) %>
							</tbody>
						</table>
						<% if (dueFlat.totalDues !== 1) {%>
						<div class="text-end my-3">
							<h6>
								Items/Qty: <%=invoice.invoiceItemsCount + '/' +
								invoice.invoiceQty%>
							</h6>
							<h6>
								Sub Total: <%=invoice.invoiceSubTotal?.toLocaleString("en-IN",
								{style:"currency", currency: "INR"})%>
							</h6>
							<h6>
								Included Total Tax:
								<%=invoice.invoiceTax?.toLocaleString("en-IN",
								{style:"currency", currency: "INR"})%>
							</h6>
							<h6>
								Delivery Charges:
								<%=invoice.invoiceDeliveryCharge?.toLocaleString("en-IN",
								{style:"currency", currency: "INR"})%>
							</h6>
							<h6>
								Discount: (-)
								<%=invoice.invoiceDiscount?.toLocaleString("en-IN",
								{style:"currency", currency: "INR"})%>
							</h6>
							<h6>
								Total: <%=invoice.invoiceTotal?.toLocaleString("en-IN",
								{style:"currency", currency: "INR"})%>
							</h6>
						</div>
						<%}%>
					</div>
					<% if (dueFlat.totalDues !== 1) {%>
					<div class="modal-footer">
						<form
							action="/invoices/due/clearOne/<%=invoice.invoiceId.slice(1)%>"
							method="post">
							<span>Clear this Due: </span>
							<button
								type="submit"
								class="btn btn-secondary"
								name="paymentMode"
								value="2">
								Cash
							</button>
							<button
								type="submit"
								class="btn btn-primary"
								name="paymentMode"
								value="3">
								UPI
							</button>
						</form>
					</div>
					<%}%>
				</div>
				<%})%>
				<div class="text-end my-3">
					<h6>
						Items/Qty: <%= dueFlat.totalDueItems + '/' + dueFlat.totalDueQty%>
					</h6>
					<h6>
						Sub Total: <%=dueFlat.totalDueSubTotal?.toLocaleString("en-IN",
						{style:"currency", currency: "INR"})%>
					</h6>
					<h6>
						Included Total Tax: <%=dueFlat.totalDueTax?.toLocaleString("en-IN",
						{style:"currency", currency: "INR"})%>
					</h6>
					<h6>
						Delivery Charges:
						<%=dueFlat.totalDueDeliveryCharges?.toLocaleString("en-IN",
						{style:"currency", currency: "INR"})%>
					</h6>
					<h6>
						Discount: (-) <%=dueFlat.totalDueDiscount?.toLocaleString("en-IN",
						{style:"currency", currency: "INR"})%>
					</h6>
					<h6>
						Grand Total: <%=dueFlat.totalDueAmount?.toLocaleString("en-IN",
						{style:"currency", currency: "INR"})%>
					</h6>
				</div>
			</div>
			<div class="modal-footer">
				<form action="/invoices/due/clearMany/<%=dueFlat._id%>" method="post">
					<span>Clear All Dues: </span>
					<button
						type="submit"
						class="btn btn-secondary"
						name="paymentMode"
						value="2">
						Cash
					</button>
					<button
						type="submit"
						class="btn btn-primary"
						name="paymentMode"
						value="3">
						UPI
					</button>
				</form>
			</div>
		</div>
	</div>
</div>
<% }) %>
<script>
	function showModal(index) {
		var modalID = "#dueInvoicesModal" + index;
		console.log(modalID);
		$(modalID).modal("show");
	}
</script>
<%- include("partials/footer"); -%>
