<%- include("partials/header"); -%>


<div class="d-flex justify-content-center align-items-center h-100">
    <button type="button" class="btn btn-success order" data-bs-toggle="collapse" data-bs-target="#billing" onclick="toggleButton(this)">NEW ORDER</button>
</div>

<div class="row h-100 collapse" id="billing">
    
    <div class="col-6 flex-grow-1">
        <!-- Invoice#, Customer Details (Flat#, Contact#, Person), Time, Products, Total, Payment Mode -->
        <% const baseId = 10000; // Starting ID number
        const randomString = Math.random().toString(36).substring(2, 8).toUpperCase(); // Random string of 6 characters
        const invoiceId = `${baseId + Math.floor(Math.random() * 1000)}-${randomString}`; // Combine base ID, random number, and random string %>
        <% // Create a new Date object
        const now = new Date();
        const options = {
            timeZone: "Asia/Kolkata",
            hour12: false,
            weekday: "long",
            year: "numeric",
            month: "numeric",
            day: "numeric",
            hour: "numeric",
            minute: "numeric",
            second: "numeric"
          };
          const dateTimeFormat = new Intl.DateTimeFormat("en-IN", options);
          var [
            weekday,
            date,
            time
          ] = dateTimeFormat.format(now).split(", ");
         %>
        <h3>Invoice #: <%= invoiceId %></h3>
        <div class="d-flex justify-content-between align-items-center my-3">
            <span style="padding: 12px 0px;"> <%= `${weekday}, ${date}` %></span>
            <span style="padding: 12px 0px;"> <%= `${time}` %></span>
        </div>
        <div class="d-flex justify-content-between align-items-center column-gap-3 my-4">
            <input type="text" class="form-control" name="contact" placeholder="Contact #">
            <input type="text" class="form-control" name="flat" placeholder="Flat #">
            <select class="form-select">
                <option selected>Person</option>
                <option value="1">Sir</option>
                <option value="2">Madam</option>
                <option value="3">Children</option>
                <option value="3">Driver</option>
                <option value="3">Maid</option>
                <option value="3">Security</option>
                <option value="3">Shop Delivery</option>
            </select>
        </div>
        <table class="table table-hover my-3">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col" class="text-center">QTY</th>
                    <th scope="col" class="text-center">Each</th>
                    <th scope="col" class="text-center">Total</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
        <div class="text-end my-3">
            <p>Sub Total: <span id="subtotal-amount" class="ms-5">0</p>
            <p>Tax: <span id="tax" class="ms-5">0</p>
            <h5>Total: <span id="total-amount" class="ms-5">0</h5>
        </div>
        <div class="d-flex justify-content-around my-5">
            <button type="button" class="btn btn-outline-danger w-25">UNPAID</button>
            <button type="button" class="btn btn-outline-warning w-25">CASH</button>
            <button type="button" class="btn btn-success w-25">UPI</button>
        </div>
        <div class="d-flex justify-content-between">
            <span>Total Order's Today</span>
            <span>0</span>
            <span>0</span>
        </div>
    </div>

    <div class="col-6 overflow-y-auto h-100 products">
        <h3>Products</h3>
        <form class="form-inline my-3">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
        </form>
        <%  var iter = 0;
            Object.keys(inventory).forEach((category) => {
            const categoryProducts = inventory[category];
            %>
            <div class="card my-2">
                <div class="card-body d-flex justify-content-between align-items-center" data-bs-toggle="collapse" data-bs-target="#products<%=iter%>" style="cursor: pointer">
                    <h5 class="card-title"><%= category %></h5>
                    <img src="https://www.lalpathlabs.com/blog/wp-content/uploads/2019/01/Fruits-and-Vegetables.jpg" style="height:4rem;" alt="Card image cap">
                </div>
                <div class="collapse" id="products<%=iter%>">
                    <div class="wrapper d-flex flex-row overflow-x-auto">
                        <% categoryProducts.forEach((product) => { %>
                            <div class="card me-3">
                                <input type="checkbox" class="h-100 w-100 position-absolute">
                                <img class="card-img-top" src="https://www.lalpathlabs.com/blog/wp-content/uploads/2019/01/Fruits-and-Vegetables.jpg">
                                <div class="card-body">
                                    <div class="card-text">
                                        <%= product.name %>
                                    </div>
                                    <div class="card-title pt-2">
                                        <%= product.price.SP?.toLocaleString("en-IN", {style:'currency', currency:'INR'}) %>
                                    </div>
                                </div>
                            </div>
                        <% }) %>
                    </div>
                </div>
            </div>
            <% iter++; %>
        <% }) %>
    </div>
</div>

<script>
    // Add a click event listener to the button
    document.querySelector('.order').addEventListener('click', function() {
      // Toggle the button visibility
      this.parentNode.remove();
    });
  </script>

<%- include("partials/footer"); -%>